<?xml version="1.0" ?>
<!-- Launch FILE FOR THE GAZEBO SIMULATIOR OF THE 4-WHEELED ROBOT -->
<launch>
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model my_robot -x 0 -y 0 -z 0.1" /-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find robot_model_pkg)/worlds/cafe.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <!--arg name="rtabmap_viz" default="true"/-->
  </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find new_pkg)/urdf/new_robot.xacro'"/>
    <!-- Robot state publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_sim_time" value="true"/>
  </node>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_sim_time" value="true"/>
  </node>

  <!-- Spawn the model -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model new_robot -param robot_description -x 0 -y 0 -z 0.1" />
  <node name="rviz" pkg="rviz" type="rviz">
    <param name="use_sim_time" value="true"/>
  </node>

</launch>